<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="center">
          <!-- Modal Trigger -->
          <button id="btn-open-modal" data-target="modal" class="waves-effect waves-light btn">Criar Sala</button>
          <!-- Modal Structure -->
          <div id="modal" class="modal">
            <%= form_tag create_room_path, class: 'form', method: 'post' do %>
              <div class="modal-content">
                <h4>Dê um nome para a sala</h4>
                <div class="input-field">
                  <input id="room_name" name="room_name" type="text" class="validate">
                  <label for="room_name">Nome da Sala</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" id="btn-create-room" class="waves-effect waves-green btn-flat">Criar</button>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h4>Salas abertas</h4>
      <div class="collection">
        <% @rooms.each do |room| %>
          <%= link_to room.name, room_path(room.name), class: 'collection-item' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
