<section class="room_session">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="left">
          <h1 class="teal-text"><%= @room.name %></h1>
        </div>
        <div class="right">
          <span class="timer hide grey-text">00:00:00</span>
          <div class="wave-container hide">
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
          </div>
          <button onclick="play()" id="play-button" class="btn-floating btn-large waves-effect waves-light">
            <i class="material-icons icon-play">play_arrow</i>
            <i class="material-icons">stop</i>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9">
        <h5>Conversa</h5>
        <ul id="messages-list" class="collection scrollable">
          <!-- <li class="collection-item avatar">
            <i class="material-icons circle">record_voice_over</i>
            <span class="title">UserName</span>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde fugit sed adipisci doloremque qui assumenda dolores eveniet veritatis in cumque deserunt sint maxime ab eum voluptas fuga, a voluptates molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum placeat esse repudiandae pariatur doloremque iure aliquam accusantium quod quasi, tempora ducimus! Eius, provident odio fuga fugiat dolor tempore sequi quisquam.
            </p>
            <span class="secondary-content">10:45AM</span>
          </li> -->
        </ul>
      </div>

      <div class="col s3">
        <h5>Usuários</h5>
        <ul class="collection scrollable">
          <% @users.each do |user| %>
            <li class="collection-item">
              <%= user.name %>
            </li>
          <% end %>
        </ul>
        <div id='graph'></div>
      </div>
    </div>

    <div id="modal" class="modal">
      <%= form_tag set_user_path, class: 'form', method: 'post', id: 'user-name-form',  remote: true do %>
        <div class="modal-content">
          <h4>Insira seu nome</h4>
          <div class="input-field">
            <input id="username" name="username" type="text" class="validate">
            <label for="username">Nome</label>
          </div>
          <%= hidden_field_tag "room_session_id", @room.id %>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="submitUserForm()" id="btn-submit-user" class="waves-effect waves-green btn-flat">Enviar</button>
        </div>
      <% end %>
    </div>

  </div>
</section>
