// Place all the styles related to the RoomSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room_session {
  h1 {
    margin-top: 0;
  }

  .scrollable {
    max-height: 500px;
    overflow-y: scroll;
  }

  .collection-item {
    padding-right: 90px;
  }
}

.wave-container {
  & .wave-bar {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: #FFF;
    animation: beat1 1s infinite;
    transform-origin: 0 100%;
    transform: scaleY(0.1);

    &:nth-child(2n) {
      animation-name: beat2;
      animation-delay: 0.2s;
      background-color: #EEE;
    }
    &:nth-child(3n) {
      animation-name: beat3;
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      background-color: #CCC;
    }
    &:nth-child(4n) {
      animation-name: beat2;
      animation-delay: 0.4s;
      animation-duration: 0.8s;
    }
    &:nth-child(5n) {
      animation-delay: 0.6s;
    }
    &:nth-child(6n) {
      animation-delay: 0.2s;
      background-color: #DDD;
    }
  }
}

@keyframes beat1 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes beat2 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes beat3 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(0);
  }
}